@model ProductModel
@{
    ViewData["title"] = "Edit product";
}
<h4>cretae product</h4>
<div class="col-md-9">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="form-group">
            <label>Name</label>
            <textarea asp-for="Name" class="form-control"></textarea>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Price</label>
            <textarea asp-for="Price" class="form-control"></textarea>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">

                <option>--Chosse Category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Brand</label>
            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.Brands">

                <option>--Chosse Brand</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input asp-for="ImageUpload" class="form-control-file" />

            <span asp-validation-for="ImageUpload" class="text-danger"></span>
            <td><img src="~/media/product/@Model.Image" width="120" /></td>

        </div>
        <div class="form-group">
            <button class="btn btn-primary">Update</button>
        </div>

    </form>
    <a asp-action="Index">BACK TO LIST PRODUCT</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
        <script>
            CKEDITOR.replace('Description');
        </script>
    }
}
