@model CategoryModel
@{
    ViewData["title"] = "Cteate Category";
}
<h4>cretae Category</h4>
<div class="col-md-9">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="form-group">
            <label>Name</label>
            <textarea asp-for="Name" class="form-control"></textarea>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
       
        <div class="form-group">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>STATUS</label>
            <select asp-for="Status" class="form-control" asp-items="ViewBag.Brands">

                <option value="1">HIỂN THỊ</option>
                <option value="2">ẨN</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        
       
        <div class="form-group">
            <button class="btn btn-primary">Create</button>
        </div>

    </form>
    <a asp-action="Index">BACK TO LIST Category</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
        <script>
            CKEDITOR.replace('Description');
        </script>
    }
}
